body{
    margin: 0;
}
.login_container{
    padding: 200px 30%;
}
.box{
    background-image: linear-gradient(to right, rgb(189, 7, 7) , black);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    color: white;
}
.box_head{
    display: flex;
    flex-direction: row;

}
.box_head h3{
    color: rgb(160, 159, 159);
    width: 100%;
}
.box_head div{
    padding-top: 20px;
}
.box_head button{
    background-color: black;
    outline: none;
    border: none;
    color: white;
}
.box_head button:hover{
    background-color: rgb(97, 13, 13);
}
.box label{
    font-size: large;
}
.box input{
    height: 3vh;
    margin-top: 10px;
    outline: none;
    border: none;
}
.login_button{
    text-align: center;
}
.login_button button{
    margin-top: 20px;
    padding: 5px 30%;
    color:white ;
    border-radius: 5px;
    background-image: linear-gradient(180deg, rgb(146, 20, 146), rgb(63, 62, 62));
    outline: none;
    border: none;
    font-size: medium;
}
.login_button button:hover{
    background-image: linear-gradient(180deg, rgb(85, 2, 85), rgb(26, 25, 25));
}

